/* comentar todo o documento o criar um novo depois */

@import './base.css';



a,
.pink {
  text-decoration: none;
  color: rgb(236, 62, 143);
  transition: 0.4s;
  font-size: 18px;
  font: bold;
}


/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}  */
